html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #f8ddd8; */
  background-color: #fff3f1;
}
.container {
  height: 100%;
}
circle {
  cursor: pointer;
}

.dot {
  opacity: 0;
}

svg {
  position: relative;
  z-index: 2;
  opacity: 0.3;
}

#main-image {
  left: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 1550px;
}

#sub-image {
  position: absolute;
  left: 1100px;
  bottom: 120px;
  z-index: 3;
  width: 150px;
  cursor: pointer;
}

.stick-container {
  position: absolute;
  width: 50px; /* update this when changing the stick container size */
  height: 50px;
  border-radius: 50%;
  z-index: 3;

  top: 0;
  left: 0;

  opacity: 0;

  pointer-events: none;
}

.stick-frame {
  width: 3px;
  height: 25px; /* update this when changing the stick container size */
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom center;
}

.stick {
  /* background-color: #fc131d; */
  background: linear-gradient(#fc131d, #ff5b62);
  height: 13px; /* update this when changing the stick container size */
}

.stick-frame:nth-child(1) {
  transform: rotate(0deg);
}

.stick-frame:nth-child(2) {
  transform: rotate(45deg);
}

.stick-frame:nth-child(3) {
  transform: rotate(90deg);
}

.stick-frame:nth-child(4) {
  transform: rotate(135deg);
}

.stick-frame:nth-child(5) {
  transform: rotate(180deg);
}

.stick-frame:nth-child(6) {
  transform: rotate(225deg);
}

.stick-frame:nth-child(7) {
  transform: rotate(270deg);
}

.stick-frame:nth-child(8) {
  transform: rotate(315deg);
}

@keyframes stickAnimation {
  /* update this when changing the stick container size */
  0% {
    height: 13px;
  }
  100% {
    height: 0px;
  }
}

.photo-container {
  position: absolute;

  bottom: -400px;
  right: 50px;
  transform: rotate(-5deg);

  z-index: 5;

  transition: right 1s ease, bottom 1s ease, transform 1s ease;

  .photo {
    width: 300px;
    height: 380px;
    background-color: #fff3f3;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;

    #photo-image {
      width: 280px;
      margin-top: 10px;
    }

    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;

    .polaroid-desc1 {
      font-size: 50px;
      color: #f53419;

      position: absolute;
      bottom: 45px;
      transform: rotate(10deg);
    }
    .polaroid-desc2 {
      font-size: 22px;
      letter-spacing: -1px;

      position: absolute;
      bottom: 10px;
    }
  }
}

.screen-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 4;

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.3s ease;
}

.desc-container {
  position: absolute;
  left: 200px;
  top: 300px;

  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

  color: white;

  z-index: 5;

  span {
    font-size: 30px;
  }
}
